body {
    margin: 50px auto;
    max-width: 100%;
    width: 100%; 
    /* YOUR CODE HERE */
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.8;
    background-color: rgb(131, 202, 223);
}

/* Add a border, border radius, box shadow, or whatever other styling you'd like to your image! */
img {
    width: 150px;
    /* YOUR CODE HERE */
    border: 5px royalblue; 
    box-shadow: purple;
    border-radius: 15px;
}

h1 {
    font-size: 60px;
    
    transition: ease-in-out 0.5s;
}

/* Select the h1 tag and add a hover effect! You can change the background-color, color, opacity, or anything you want.*/
h1:hover {
    font-size: 60px;
    color:rgb(208, 243, 10);
    background-color: #1d3557;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
}




/* Add different background colors for all the different sections (Education, Experience, etc.) by selecting them via ids. */
#special1 { 
    color: rgb(60, 20, 135);
}
#special2 { 
    color: rgb(23, 3, 23);
}
#special3 { 
    color:rgb(59, 50, 18);
}

.header { 
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(63, 148, 213);
    border-radius: 15px;
    border: 15px solid rgb(41, 5, 120); 
}

.profile {
    background-color: #659beb;
    width: 1390px;
    padding: 60px;
    margin: 50px;
    justify-content: center;
    text-align: center;
    gap: 15px; 
    margin-top: 65px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}



/* Question 4. Add margin, padding, and borders to the section-wrapper class! */
.section-wrapper {
    background-color: #659beb;
    width: 1150px;
    border: 15px solid rgb(41, 5, 120);
    padding: 60px;
    margin: 50px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    gap: 15px; 
    margin-top: 65px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}


/* Education Section */
.education-wrapper {
    background-color: #eae61e;
    width: 1150px;
    padding: 60px;
    margin: 50px;
    border-radius: 15px;
    justify-content: center;
    gap: 15px; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

#class-list { 
    color: black; 
}

.bolded { 
    font-weight: bold;
}


/* Experience Section */


.experience-wrapper {
    display: grid; /* YOUR CODE HERE */
    gap: 5px; /*YOUR CODE HERE*/
    justify-content: center; /*YOUR CODE HERE*/
}

/* Add a background color to the experience-list-item class.*/

.experience-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 1000px;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}



/* Add a hover effect to each experience-list-item div. 
Experiment with border, border-radius, background-color, or whatever you want!*/

.experience-list-item:hover {
    /* YOUR CODE HERE */
    border: 4px;
    border-radius: 4; 
    background-color: rgb(59, 51, 150); 
    color:rgb(221, 221, 221);
    border: 4px solid #1d3557;
}




/* Projects Section */

/* Use CSS Flexbox and hover effects for the Projects Section, just as you did for the Experience Section! */

/*YOUR CODE HERE*/

.project-section-wrapper { 
    background-color: #e6b5ed;
    width: 1150px;
    border: 15px solid rgb(175, 50, 200);
    padding: 60px;
    margin: 50px;
    box-shadow: 12px 12px 2px 1px rgba(189, 2, 142, 0.2);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    gap: 15px; 
    margin-top: 65px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.project-wrapper {
    gap: 10px; /*YOUR CODE HERE*/
    justify-content: center; /*YOUR CODE HERE*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      
      
}
.project-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 300px;
    height: 350px; 
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}
.project-list-item:hover {
    /* YOUR CODE HERE */
    border: 4px solid #1d3557;;
    border-radius: 4; 
    background-color: rgb(208, 75, 179); 
    color: white; 
}

.bolded-title { 
    font-weight: bolder;
}





/* Contact Section */

/* Make your link look something like the one shown in the homework spec!*/



/* Navigation Bar Styling */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex; /* Add this line */
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Center the links vertically */
    
    
    
}

.navbar a {
    float: none; /* Remove the float */
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px; /* Adjust padding as needed */
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px; /* Add some space between links */
    justify-content: space-around;
    
}

/* Add this for better responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack the links vertically on smaller screens */
        padding: 10px 0; /* Adjust padding for the navbar itself */
    }
    .navbar a {
        width: 100%; /* Make each link extend full width of the navbar */
        margin: 5px 0; /* Reduce margin for a stacked appearance */
    }
}

.navbar a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
    gap: 15px; 
}


/* Responsive design */
@media (max-width: 768px) {
    .section-wrapper {
        flex-direction: column;
    }
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }
}


#typed-text {
    border-right: 2px solid;
    white-space: nowrap;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px; 
    overflow: hidden;
    margin-left: 435px;
    margin-right: 300px;
    justify-content: center;
    width: 800px; 
    animation: typing 8.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(52, 126, 210) }
    from {width: 32%}
    to {width: 68%}
}


/* Contact Section */
#contact { 
    text-align: center;
    justify-content: center;
    color:rgb(12, 12, 12)
}

.contact-wrapper-outside { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-wrapper { 
    background-color: #e6b5ed;
    width: 540px;
    border: 15px solid rgb(41, 5, 120);
    padding: 60px;
    margin: 50px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    gap: 15px; 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    
}

.button { 
    background-color: #0000FF; 
    color: white;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}