body {
    margin: 50px auto;
    max-width: 1200px;
    /* YOUR CODE HERE */
}

/* Add a border, border radius, box shadow, or whatever other styling you'd like to your image! */
img {
    width: 175px;
    /* YOUR CODE HERE */
    border: 100px; 
    box-shadow: purple;
}

h1 {
    font-size: 45px;
    transition: ease-in-out 0.5s;
}

/* Select the h1 tag and add a hover effect! You can change the background-color, color, opacity, or anything you want.*/
h1:hover {
    font-size: 45px;
    color:blue;
    transition: ease-in-out 0.5s;
}




/* Add different background colors for all the different sections (Education, Experience, etc.) by selecting them via ids. */
#special1 { 
    color: green;
}
#special2 { 
    color: purple;
}
#special3 { 
    color:rgb(59, 50, 18);
}



/* Question 4. Add margin, padding, and borders to the section-wrapper class! */
.section-wrapper {
    background-color: #a5d2ee;
    width: 800px;
    border: 15px solid green;
    padding: 60px;
    margin: 50px;
}



/* Experience Section */


.experience-wrapper {
    display: grid; /* YOUR CODE HERE */
    gap: 0; /*YOUR CODE HERE*/
    justify-content: center; /*YOUR CODE HERE*/
}

/* Add a background color to the experience-list-item class.*/

.experience-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 250px;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}



/* Add a hover effect to each experience-list-item div. 
Experiment with border, border-radius, background-color, or whatever you want!*/

.experience-list-item:hover {
    /* YOUR CODE HERE */
    border: 4px;
    border-radius: 4; 
    background-color: orange; 
}




/* Projects Section */

/* Use CSS Flexbox and hover effects for the Projects Section, just as you did for the Experience Section! */

/*YOUR CODE HERE*/
.project-wrapper {
    display: grid; /* YOUR CODE HERE */
    gap: 0; /*YOUR CODE HERE*/
    justify-content: center; /*YOUR CODE HERE*/
}
.project-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 250px;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}
.project-list-item:hover {
    /* YOUR CODE HERE */
    border: 4px;
    border-radius: 4; 
    background-color: rgb(208, 75, 179); 
}





/* Contact Section */

/* Make your link look something like the one shown in the homework spec!*/

a {
    /*YOUR CODE HERE*/
    text-decoration: none;
    padding: 5px;
    border: 5px solid rgb(206, 174, 45);

    box-shadow: rgb(213, 213, 49);
}